body {
  background-color: white;
}

.container-login {
  align-items: center;
  background-color: #eaf1ef;
  border: 1px solid #b1c2be;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 370px;
  padding: 20px;
  width: 425px;
}

.div-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container-login button {
  border-radius: 5px;
  height: 59px;
  padding: 10px;
  width: 370px;
}

.container-login input {
  background-color: white;
  border: 1px solid #001813;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: block;
  height: 50px;
  width: 370px;
}

.container-login input::placeholder {
  color: #828282;
  font-size: 24px;
  text-indent: 20px;
}

.container-login label {
  font-size: 24px;
  text-indent: 5px;
}

.button-login {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 28px;
  transition: all 0.2s ease-in-out;
}

.button-login:disabled {
  background-color: var(--primary-color);
  opacity: 0.5;
}

.button-login:active {
  transform: translateY(-3px);
}

.button-register {
  background-color: #eaf1ef;
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  font-size: 28px;
  transition: all 0.2s ease-in-out;
}

.button-register:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.error-message {
  color: rgb(255, 51, 51);
}
