body {
  background-color: var(--primary-color);
}

.container-login {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  gap: 1rem;
  border-radius: 5px;
}

.div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container-login button {
  border-radius: 5px;
  padding: 10px;
}

.button-login {
  background-color: var(--primary-color);
}

.button-cadastre {
  background-color: var(--background-color);
}