nav {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 105px;
  overflow: hidden;
  width: 100%;
}

.link {
  color: #f2fffc;
  font-size: 28px;
  font-weight: 700;
  padding: 5rem;
  text-decoration: none;
}

.selected {
  background-color: var(--secondary-color);
  color: var(--text-dark);
}

.logout {
  background-color: var(--quaternary-color);
}

nav span {
  background-color: var(--terciary-color);
  color: #f2fffc;
  font-size: 28px;
  padding: 5rem;
}

.user-logout {
  margin-left: auto;
}

