/* stylelint-disable */
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #b1c2be;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  height: 486px;
  margin: 10px;
  width: 378px;
}

.card h3 {
  padding: 10px;
  margin-left: 10px;
  background-color: #eaf1ef;
  width: 70px;
  border-radius: 30px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eaf1ef;
  height: 100%;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
}

.card-info h1 {
  margin: 0;
}

.card img {
  max-height: 357px;
  max-width: 350px;
}
