.card {
  background-color: white;
  border: 1px solid #b1c2be;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  height: 486px;
  width: 378px;
}

.card-info {
  background-color: #eaf1ef;
}

.card img {
  width: 100px;
}
