.card {
  background-color: white;
  border: 1px solid #b1c2be;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 486px;
  margin: 10px;
  width: 378px;
}

.card h3 {
  background-color: #eaf1ef;
  border-radius: 30px;
  margin-left: 10px;
  padding: 10px;
  width: 70px;
}

.card-info {
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.card-info h1 {
  margin: 0;
}

.card img {
  max-height: 357px;
  max-width: 350px;
}
